<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FindEvents</title>
    </head>
    <body>
        
        <h2>Ciao <b><%= user.name %></b>, benvenuto nell'applicazione</h2>
        
        
        <a href="/today">Vedi gli eventi odierni intorno a te</a><br><br>
        <h4>Cerca un evento</h2>
        <form action='dashboard' method='POST'>
            <input name='luogo' type='name' placeholder='Città evento'/>
            <input name='data' type='date'/>
            <input type="submit" value="Ricerca"/></form>
        <br>
        <a href="/logout" style="color:red">Sign Out</a>
        <a href="/chat">Invia un messaggio ai nostri admin!!</a><br><br><hr>
        <form action='logadmin' method='POST'><label>Sei admin?</label>
            <input name='psw' type='password' placeholder='Inserisci password'/>
            <input type="submit" value="Vai!"/></form>

    </body>
</html>