<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FindEvents</title>
    </head>
    <body>
        <h2>Messaggi in coda</h2>
        <% for(var i=0; i<lungharr; i++) {%>
            <%= jacopobrune[i]%><br>
         <% } %>
        <a href="/dashboard">Back</a>
    
    </body>
</html>