<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="452850131404-eplv1n0n22u2r3obql12qt2rcedvr0hd.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
    </head>
    <body>

        <h1>Effettua il login per usufruire del servizio</h1>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <script>
            function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/login');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    console.log('Signed in as: ' + xhr.responseText);
                    if(xhr.responseText == 'success'){
                        signOut();
                        location.assign('/dashboard');
                    }
                };
                xhr.send(JSON.stringify({token : id_token}));
                
            }
        </script>
            
            
        <script>
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                console.log('User signed out.');
                });
            }
        </script>
    
    </body>
</html>