<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Ho trovato il luogo:</h1>
        <h3> long: <%= lo%> </h3><br>
        <h3> lat: <%= la%> </h3><br>
        <a href="/dashboard">Back</a>
    </body>
</html>